.btn {
    display: inline-block;
    font-family: $lato;
    font-size: 1rem;
    font-weight: 400;
    color: $black;
    text-underline-position: under;

    &:hover {
        color: $gray;
        border-color: $gray;
        text-decoration-color: $gray;
    }

    &_outline {
        padding: 1.5rem 2rem;
        border: 1px solid $black;
        text-decoration: none;
        border-radius: $corners;

        &:hover {
            color: $l-gray;
            border-color: $l-gray;
        }

        &:active {
            color: $gray;
            border-color: $gray;
        }
    }

    &_white {
        color: $white;
        border-color: $white;
    }

    &_lg {
        font-size: 2rem;
    }
}

@include media-breakpoint-down(sm) {
    .btn {
        &_outline {
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
        }
    }
}