.header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 1rem;

    z-index: 2000;

    transition: .2s ease;

    &_scrolled {
        padding-top: 1rem;
        background-color: $white;
        color: $black;

        & .header__logo {
            background-image: url(../assets/images/logo-black.png);
        }

        & .header__nav {
            align-items: center;
        }

        & .header__nav-item {
            margin: 0;
        }

        & .header__nav-link {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .header__phone {
            color: $black;
        }

        & .header__button {
            background-image: url(../assets/images/bars-black.png);
        }

        & .header__button_active {
            background-image: url(../assets/images/bars-closed.png);
        }
    }

    &_mobile_show {
        background-color: $white;

        animation: slideDown .3s ease forwards;

        & .header__ul {
            display: block;
        }

        .header__phone {
            color: $black;
        }

        & .header__logo {
            background-image: url(../assets/images/logo-black.png);
        }

        & .header__button {
            background-image: url(../assets/images/bars-black.png);
        }

        & .header__button_active {
            background-image: url(../assets/images/bars-closed.png);
        }
    }

    &__right {
        float: right;
    }

    &__mobile-hidden {
        display: inline-block;
        vertical-align: middle;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
    }

    &__phone {
        position: relative;
        font-family: $museo;
        font-size: 24px;
        color: $white;

        &:hover {
            color: $accent;
            text-decoration: none;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -40px;
            display: inline-block;
            height: 32px;
            width: 32px;
            background-image: url(../assets/images/call.png);
            background-position: center;
            background-repeat: no-repeat
        }
    }

    &__button {
        display: inline-block;
        height: 32px;
        width: 50px;
        color: $white;
        background: none;
        outline: none;
        border: none;
        background-image: url(../assets/images/bars.png);
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    &__button_active {
        background-image: url(../assets/images/bars-closed.png);
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        content: "";
        display: inline-block;
        width: 220px;
        height: 58px;
        background-image: url(../assets/images/logo.png);
        fill: $white;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__nav-item {
        display: inline-block;
    }

    &__nav-link {
        padding: 1rem;
        color: $white;
        text-decoration: none;

        &:hover {
        }
    }
}