.metrics {
    margin-top: - 2rem;

    &__row {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        background-color: $d-white;
        border-radius: $corners;
    }
    
    &__value {
        margin-bottom: 1rem;
        font-family: $rubik;
        font-size: 6rem;
        line-height: 100%;
        text-align: center;
    }
    
    &__label {
        font-family: $lato;
        font-size: 2rem;
        text-align: center;
    }
}

@include media-breakpoint-down(lg) {
    .metrics {
        &__row {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        &__value {
            font-size: 4rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .metrics {
        &__row {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &__value {
            font-size: 3rem;
            margin-bottom: .5rem;
        }

        &__label {
            font-size: 1.5rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .metrics {
        &__row {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            border-radius: 0;
        }

        &__value {
            font-size: 2rem;
            margin-bottom: .25rem;
        }

        &__label {
            font-size: 1rem;
        }
    }
}

@include media-breakpoint-down(xs) {
    .metrics {
        &__value {
            font-size: 1.5rem;
        }
    }
}