.portfolio {
    &__image {
        height: 32rem;
        width: 100%;
        object-fit: cover;
    } 
}
 
@include media-breakpoint-down(md) {
    .portfolio {
        &__image {
            height: 22rem;
        } 

        &__content {
            padding-left: 1rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .portfolio {
        &__content {
            display: none;
        }

        &__image {
            height: 19.5rem;
        }
    }
}