.projects {
    margin-bottom: 150px;
    
    &__h2 {
        color: $dark;
    }

    &__image {
        display: block;
        width: 100%;
        height: 380px;
        margin-bottom: $lg;
        object-fit: cover;
    }

    &__name {
        position: relative;
        margin: 0;
        margin-bottom: $xs;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        color: $dark;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -21px;
            background-color: $accent;
            width: 55px;
            height: 6px;
        }
    }

    &__description {
        margin: 0;
        font-family: $sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5em;
        color: $gray;
    }
}

@include media-breakpoint-down(lg) {
    .projects {
        &__image {
            height: 300px;
        }
    }
}

@include media-breakpoint-down(md) {
    .projects {
        margin-bottom: $xlg;

        &__image {
            height: 200px;
            margin-bottom: $md;
        }

        &__name {
            &:before {
                top: -16px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .projects {
        margin-bottom: $lg;

        &__item {
            margin-bottom: $md;
        }

        &__image {
            margin-bottom: $sm;
        }

        &__name {
            margin-bottom: 10px;

            &:before {
                display: none;
            }
        }
    }
}