.reviews {
    &__card {
        padding: 3rem 2rem 3.5rem 1.5rem;
        background-color: $d-white;
        border-radius: $corners;
    }

    &__text {
        margin-bottom: 2.5rem;
    }

    &__name {
        display: block;
        margin-bottom: 1rem;
        font-family: $rubik;
        font-size: 2rem;
        font-weight: 500;
        line-height: 100%;
        color: $black;
    }

    &__company {
        display: block;
        font-family: $lato;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 100%;
        color: $gray;
    }
}

@include media-breakpoint-down(md) {
    .reviews {
        &__card {
            padding: 3.5rem 4rem 4rem 2rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .reviews {
        
    }
}