.services {
    &__item {
        position: relative;
        margin-bottom: 4rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__text {
        padding-right: 1rem;
    }

    &__image {
        height: 21rem;
        width: 100%;
        object-fit: cover;
    }

    &__btn {
        margin-bottom: 1.25rem;
    }
}

@include media-breakpoint-down(md) {
    .services {
        &__image {
            height: 16rem;
        }

        &__content {
            padding-left: 1rem;

            &_left {
                padding-left: 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .services {
        &__item {
            padding: 0 1.5rem 2.5rem 1.5rem;
            margin-bottom: 3.5rem;
            border-bottom: 1px solid $l-gray;

            &:last-of-type {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        &__image {
            display: none;
        }

        &__content {
            padding-left: 0;
        }
    }
}