.title-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/images/title_screen.jpeg);
    background-size: cover;

    &__content {
        color: $white;
    }
}

@include media-breakpoint-down(md) {
    .title-screen {
      
    }
}

@include media-breakpoint-down(sm) {
    .title-screen {
        
    }
}

@include media-breakpoint-down(xs) {
    .title-screen {
    }
}