@font-face {
    font-family: Rubik, sans-serif;
    src: ('../../assets/fonts/Rubik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Lato, sans-serif;
    src: ('../../assets/fonts/Lato-Regular.ttf');
    font-weight: 400;
}