//Fonts
$rubik: 'Rubik', sans-serif;
$lato: 'Lato', sans-serif;

//Palette
$black: #222222;
$dark: #373737;
$gray: #7C7C7C;
$l-gray: #E0E0E0;
$white: #F9F9F9;
$d-white: #F6F6F6;

//Border radius
$corners: 4px