<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <nav class="header__nav" role="navigation">
                <a href="#" class="header__logo-link">A company name</a>
                <button id="header-btn" class="header__btn">
                    <i class="fas fa-bars"></i>
                </button>
            </nav>
        </div>
    </header>

    <!-- Main -->
    <main class="main">
        <section class="title-screen">
            <div class="container-fluid">
                <div class="col-lg-6">
                    <div class="title-screen__content">
                        <h1 class="h1">lorem ipsum dolor sit amet</h1>
                        <p class="h1__subtitle"><span class="h1__accent">lorem</span> ipsum dolor sit amet</p>
                        <ul class="title-screen__awards">
                            <!-- Not sure about those awards' icons because they all have two indibidual elements - an award icon and a small flag.
                                If it's a static image it can be done with css only, but if this things are generic i should use an "img" tag for both elements.
                                In this case I consider them static and use css and its' background image.
                            -->
                            <li class="title-screen__award-name title-screen__award_top">Lorem ipsum dol</li>
                            <li class="title-screen__award-name title-screen__award_regular">Lorem ipsum dol</li>
                            <li class="title-screen__award-name title-screen__award_medal">Lorem ipsum dol</li>
                            <li class="title-screen__award-name title-screen__award_regular">Lorem ipsum dol</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <a id="second-block" class="anchor"></a>
        <section class="section">
            <div class="container-fluid">
                <h2 class="h2 wow fadeInDown">SECOND BLOCK</h2>
                <div class="carousel__content">
                    <div class="row">
                        <div class="col-lg-5 offset-1">
                            <h3 class="h3 h3__accent">ЛОРЕМОВА</h3>
                            <p class="h3__subtitle">ИПСУМА АНАТОЛЬЕВНА</p>
                            <div class="carousel__sign">lorem ipsum dolor</div>
                            <ul class="list">
                                <li class="list__item">lorem ipsum dolor lorem ipsum dolor</li>
                                <li class="list__item">lorem ipsum dolor lorem ipsum dolor</li>
                                <li class="list__item">lorem ipsum dolor lorem ipsum dolor</li>
                                <li class="list__item">lorem ipsum dolor lorem ipsum dolor</li>
                                <li class="list__item">lorem ipsum dolor lorem ipsum dolor</li>
                            </ul>
                            <h4 class="h4">lorem ipsum dolor</h4>
                            <p class="p">lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor</p>
                            <h4 class="h4">lorem ipsum dolor</h4>
                            <p class="p">lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a id="third" class="anchor"></a>
        <section class="section">
            <div class="container-fluid">
                <h2 class="h2 partners__title wow fadeInDown">THIRD BLOCK</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#" class="partners__item wow fadeInDown">
                            <img src="./images/visual-studio-code.svg" alt="facebook" class="partners__logo">
                        </a>
                        <h4 class="h4"><a class="h4__link" href="#">Lorem ipsum dolor sit amet.</a></h4>
                        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.</p>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="partners__item wow fadeInDown">
                            <img src="./images/visual-studio-code.svg" alt="facebook" class="partners__logo">
                        </a>
                        <h4 class="h4"><a class="h4__link" href="#">Lorem ipsum dolor sit amet.</a></h4>
                        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.</p>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="partners__item wow fadeInDown">
                            <img src="./images/visual-studio-code.svg" alt="facebook" class="partners__logo">
                        </a>
                        <h4 class="h4"><a class="h4__link" href="#">Lorem ipsum dolor sit amet.</a></h4>
                        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.</p>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="partners__item wow fadeInDown">
                            <img src="./images/visual-studio-code.svg" alt="facebook" class="partners__logo">
                        </a>
                        <h4 class="h4"><a class="h4__link" href="#">Lorem ipsum dolor sit amet.</a></h4>
                        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer section">
       <div class="container">
           <div class="footer__copyright">some copyryght</div>
       </div>
    </footer>
</body>
</html>